body {
    text-align: center;
    /*background-color: gray;*/
}

div {
    display: inline-block;
}

.header {
    display: block;
    margin-top: 50px;
}

.header > p {
    font-family: Helvetica;
    color: black;
}

/*~~~ DAW SECTION ~~~~~~~~*/

.daw {
    margin-top: 65px;
    position: relative;
    text-align: left;
    width:100%;
}

.soundRow {
    width:100%;
    display:block;
    margin-bottom:20px;
}

/*currently unused*/
/*.textProgress {
    color: black;
    font-size:12px;
    margin: 8px;
    font-family: Helvetica;
    display: block;
    height:12px;
}*/

/*invisible, goes around in row.*/
.playerCont {
    height:70px;
    display:inline-block;
    position:relative;
}

.controlCont_side {
    position:absolute;
    z-index:0;
    left:0px;
    transition: left .3s;
}

.player_control {
    width:20px;
    height:20px;
    margin:5px;
    position:relative;
    display:block;
    cursor:pointer;
}

.soundRow:hover .controlCont_side {
    left:-30px;
    z-index: 0; /*temp 1*/
    transition: left z-index .3s;
}

.control-play {
    background-color: rgb(87, 247, 87);
}

.control-play:hover {
    background-color: rgb(0, 211, 0); 
}

.control-pause {
    background-color: red;
}

.control-mute {
    background-color:gray;
}

.playerCont:hover .player_sound {
    height:40px;
    transition:height .2s;
}

.player_sound {
    height: 70px;
    transition:height .2s;
    width:100%;
    background-color: rgb(221, 221, 221);
    border-bottom: rgb(206, 167, 167) 5px solid;
    display: inline-block;
    position: absolute;
    z-index:1;
    text-align: left;
}

.recordBar {
    height: 70px;
    transition:height .2s;
    width:100%;
    background-color: rgb(211, 197, 191);
    display: inline-block;
    position: absolute;
    z-index:0;
    text-align: left;
}

.recordBar:hover {
    cursor:pointer;
}

.player_sound:hover {
    border-bottom: rgb(247, 100, 100) 5px solid;
    cursor:pointer;
}

.progress_sound {
    height: 100%;
    width: 0%;
    display: inline-block;
    background-color: orange;
    /*border-right: 10px solid yellow;*/
}

/*need overPlayer class because getting position from hovering over .player class is
not reliable; it is possible to divert hover from .player to .playhead, which counts as mouse exit
because .playhead is on top of the player. Thus overPlayer overlays the playhead as a reliable source
of x position.*/
.overPlayer_sound {
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0px;
    opacity: 0;
    display:block;
    z-index:3;
}

.playhead {
    width: 3px;
    background-color: rgb(247, 100, 100);
    height: 70px;
    display: none;
    position: absolute;
    z-index: 2;
    top: 0px;
    transition:height .2s;
}

.recordButton {
    width:12px;
    height:12px;
    background-color: rgb(233, 193, 183);
    border-radius: 12px;
    border: 4px solid rgb(232, 105, 103);
    display:none;
    position:absolute;
    z-index: 2;
    bottom:3px;
}

.player_sound:hover .playhead {
    display: inline-block;
}

.recordBar:hover .recordButton {
    display: inline-block;
}

#play_toggle {
    height: 50px;
    width:50px;
    margin-left: 20px;
    background-color: rgb(255, 170, 144);
    vertical-align: bottom;
}